<div nz-row class="mgbt20">
  <div class="row">

    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
      <h4>Báo cáo góp vốn</h4>
    </div>
  </div>
</div>

<div class="box box-success">
  <div class="box-header">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class=" ant-form ant-form-inline ">
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="date">
              <nz-range-picker [(ngModel)]="date"></nz-range-picker>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <button nz-button (click)="getAll()" nzType="primary">Hiển thị</button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </div>
  <div class="box-body">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div *ngIf="capitals && capitals.data " class="table-responsive">
        <nz-table #editRowTable nzBordered [nzData]="capitals.data" [nzFrontPagination]="false"
          [nzShowPagination]="false">
          <thead>
            <tr>
              <th width="5%" style="min-width: 50px;" class="text-center" width="5%">STT</th>
              <th width="15%" style="min-width: 100px;">Người góp vốn</th>
              <th width="30%" style="min-width: 250px;" class="text-center">Góp vốn</th>
              <th width="30%" style="min-width: 250px;" class="text-center">Thu vốn</th>
              <th width="20%" style="min-width: 70px;" class="text-center">Công cụ</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of editRowTable.data;let i =index">
              <td class="text-center">{{ i +1}}</td>
              <td>{{ data.name }}</td>
              <td class="text-center">
                <table>
                  <tr>
                    <td><b>Tổng vốn góp</b></td>
                    <td class="text-right">{{ data.capital | number }} đ</td>
                  </tr>
                  <tr>
                    <td><b>Tổng đã nhận</b></td>
                    <td class="text-right">{{ data.refund | number }} đ</td>
                  </tr>
                  <tr>
                    <td><b>Tổng còn lại</b></td>
                    <td class="text-right">{{ data.remain | number}} đ</td>
                  </tr>
                </table>
              </td>

              <td class="text-center">
                <table>
                  <tr>
                    <td>
                      <b>Tổng lãi</b>
                    </td>
                    <td class="text-right">{{ data.interest | number }} đ</td>
                  </tr>

                  <tr>
                    <td>
                      <b>Lãi đã thu về</b>
                    </td>
                    <td class="text-right">{{ data.interest_pay | number }} đ</td>
                  </tr>

                  <tr>
                    <td>
                      <b>Lãi còn lại</b>
                    </td>
                    <td class="text-right">
                      {{ data.interest_remain | number }} đ
                    </td>
                  </tr>


                </table>
              </td>

              <td class="text-center">
                <i nz-icon nzType="eye" (click)="viewDetailCapital(data)" nz-tooltip nzTitle="Xem chi tiết"
                  nzTheme="outline" class="text-primary iconAction"></i>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
</div>

<app-capital-detail *ngIf="isVisibleCap" [dataEdit]="dataEdit" [isVisible]="isVisibleCap"
  (closeModal)="closeModal($event)">
</app-capital-detail>