<div class="container ant-advanced-search-form">

    <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="border-bottom: 2px black solid;">
        <h4 style="font-weight: bold;">Hướng dẫn đăng ký Partners Vip tại PAT</h4>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="mg-top">
            <h5>1. Đăng ký tài khoản Partners eToro theo link sau: (nếu đã có tài khoản thì bỏ qua bước này)</h5>
            <div style="margin-left: 20px;">
                <p>Link: <a href="http://www.etoro.com/TJoinT2_A83700.aspx">http://www.etoro.com/TJoinT2_A83700.aspx</a>
                </p>
                <p>Hướng dẫn xác minh tài khoản Partners: <a
                        href="https://drive.google.com/open?id=1K5uEe70lnCbA96GFZL-Hax6HbVhszjCE">https://drive.google.com/open?id=1K5uEe70lnCbA96GFZL-Hax6HbVhszjCE</a>
                </p>
            </div>
        </div>
        <div class="mg-top">
            <h5>2. Đăng ký tài khoản Partners eToro theo link sau: (nếu đã có tài khoản thì bỏ qua bước này)</h5>
            <div style="margin-left: 20px;">
                <a href="http://partners.etoro.com/A83700_TClick.aspx"></a>
                <p>Xác minh tài khoản giao dịch theo hướng dẫn sau:</p>
                <p><b>Lưu ý quan trọng: </b>Địa chỉ nhập trên eToro phải là địa chỉ trên bằng lái xe (Nếu không có bằng
                    lái thì
                    có thể ra ngân hang nạp tiền vào tài khoản ngân hàng của bạn và ghi địa chỉ trên giấy nạp tiền, Chụp
                    lại sau
                    khi đã có mộc đỏ của ngân hang, up lên eToro để xác minh địa chỉ).
                    Bời vì bước nhập địa chỉ ở phần đầu, các bạn hay nhập địa chỉ trên CMND dẫn đến tk lâu xác minh hoặc
                    ko được
                    xác minh. Nhắc lại ko nhập địa chỉ trên CMND mà nhập địa chỉ trên bằng lái xe hoặc giấy tờ mà bạn sẽ
                    dùng để
                    xác minh địa chỉ)
                </p>
                <a href="https://youtu.be/JvqzYvDWcTs">https://youtu.be/JvqzYvDWcTs</a>
            </div>
        </div>

        <div class="mg-top">
            <h5>3. Nạp tiền vào tài khoản giao dịch tối thiểu 220$, giao dịch đủ 10$ phí. (1 lệnh Buy EU 100U đòn bẫy
                x400,
                hoặc chia nhỏ thành nhiều lệnh)
            </h5>
        </div>
        <div class="mg-top">
            <h5>4. Thanh toán phí Partners</h5>
            <div style="margin-left: 20px;">
                <p>Chuyển khoản vào số thẻ sau: Lưu ý chọn mục chuyển vào số thẻ (không phải số tài khoản)</p>
                <p>9704229237471649</p>
                <p>(Ghi chú chuyển tiền: [User name tk partners] + sdt Số tiền: 150$ x tỷ giá 23,000 (3 tháng Partners
                    Vip)</p>
            </div>
        </div>
        <div class="mg-top">
            <h5>5. Nhập thông tin 2 tài khoản trên vào mục “Đăng ký Vip” và chờ được duyệt.</h5>
        </div>
    </div>
</div>