<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()" nzWidth="60%">
    <ng-template #modalTitle>
        Đóng lãi
    </ng-template>
    <ng-template #modalContent>
        <div *ngIf="customer && customer.id" class="row" style="margin-bottom: 10px;">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <label for=""><b>Khách hàng:&nbsp;</b></label>
                <span>{{ customer.name }}</span>
            </div>

            <div class="col-12 col-sm-6 col-md-8 col-lg-6 ">
                <label for=""> <b>Điện thoại:&nbsp;</b> </label>
                <span>{{ customer.phone }}</span>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-6">
                <label for=""> <b>Chứng minh:&nbsp;</b></label>
                <span>{{ customer.identity_number }}</span>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <label for=""> <b>Địa chỉ:&nbsp;</b> </label>
                <span>{{ customer.address }}</span>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <label for=""> <b>Ngày vay:&nbsp;</b> </label>
                <span>{{ formatDate(customer.created,'DD/MM/YYYY') }}</span>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <label for=""> <b>Số tiền vay:&nbsp;</b> </label>
                <span>{{ formatCurrency(customer.loan_price) }} đ</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box box-success" *ngIf="dataSource && dataSource.pay">
                    <nz-table #headerTable [nzData]="dataSource.pay" [nzFrontPagination]="false"
                        [nzShowPagination]="false">
                        <thead>
                            <tr>
                                <th width="10%" class="text-center">STT</th>
                                <th width="20%" class="text-center">Ngày tạo</th>
                                <th width="20%" class="text-center">Ngày đóng lãi</th>
                                <th width="30%" class="text-center">Số tiền</th>
                                <th width="20%" class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of headerTable.data;let i= index">
                                <td class="text-center">{{ i+1 }}</td>
                                <td class="text-center">{{ formatDate(data.created,'DD/MM/YYYY') }}</td>
                                <td class="text-center">{{ formatDate(data.date,'DD/MM/YYYY') }}</td>
                                <td class="text-right">{{ formatCurrency(data.price) }} đ</td>
                                <td class="text-center">
                                    <i nz-icon nz-tooltip nzTitle="Xóa phiên đóng lãi" (click)="confirmDeletePay(data)"
                                        nzType="delete" class="text-danger iconAction" nzTheme="outline"></i>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="showConfirmPay(false)">

                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="date">Ngày trả lãi
                        </nz-form-label>
                        <nz-form-control [nzSm]="16" [nzXs]="24">
                            <nz-date-picker [nzFormat]="'dd/MM/yyyy'" (ngModelChange)="getPrice()" formControlName="date"></nz-date-picker>
                            <!-- <nz-form-explain
                                *ngIf="validateForm.get('next_payday')?.dirty && validateForm.get('next_payday')?.errors">
                                Chọn ngày trả lãi kế tiếp!
                            </nz-form-explain> -->
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="price">Số tiền
                        </nz-form-label>
                        <nz-form-control [nzSm]="16" [nzXs]="24">
                            <input style="width: 172px;" nz-input [(ngModel)]="price" [(appFormatVN)]="brokerage_amount" placeholder="Số tiền" formControlName="price" />
                            <nz-form-explain
                                *ngIf="validateForm.get('price')?.dirty && validateForm.get('price')?.errors">
                                Số tiền không được để trống!
                            </nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="next_payday">Ngày trả lãi kế tiếp
                        </nz-form-label>
                        <nz-form-control [nzSm]="16" [nzXs]="24">
                            <nz-date-picker [nzFormat]="'dd/MM/yyyy'" formControlName="next_payday">
                            </nz-date-picker>
                            <nz-form-explain
                                *ngIf="validateForm.get('next_payday')?.dirty && validateForm.get('next_payday')?.errors">
                                Ngày đóng lãi kế tiếp phải lớn hơn ngày đóng lãi hiện tại!
                            </nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                </form>
            </div>


            <div *ngIf="pay" class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="row">
                    <label for=""> <b>
                            Ngày trả lãi trước đó:&nbsp;
                        </b> </label>
                    <span>{{pay.last_pay_date}}</span>
                </div>
                <div class="row">
                    <label for=""> <b>Số ngày đóng lãi:&nbsp;</b> </label>
                    <b>
                        <span *ngIf="pay.years > 0">
                            {{ pay.years }} Năm
                        </span>
                        
                        <span *ngIf="pay.months > 0">
                            {{ pay.months }} Tháng
                        </span>
                        <span>
                            {{ pay.days }} Ngày
                        </span>
                    </b>
                </div>
            </div>

        </div>
    </ng-template>

    <ng-template #modalFooter>
        <button *ngIf="dataEdit.status_id != 4 && dataEdit.status_id != 3" class="btn btn-danger btn-sm" (click)="setBaddebt()">Nợ xấu</button>
        <button *ngIf="dataEdit.status_id != 3 && dataEdit.status_id != 2" class="btn btn-primary btn-sm" (click)="showConfirmPay(false)">Đóng lãi</button>
        <button *ngIf="dataEdit.status_id != 3 && dataEdit.status_id != 2" class="btn btn-success btn-sm" (click)="showConfirmPay(true)">Đóng lãi và kết thúc</button>
        <button class="btn btn-sm btn-light" (click)="handleCancel()">Đóng</button>
    </ng-template>
</nz-modal>