<form nz-form [formGroup]="validateForm" class="" (ngSubmit)="submitForm()">
  <div nz-row class="ant-advanced-search-form ">

    <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="border-bottom: 2px black solid;">
      <h4 style="font-weight: bold;">Đăng kí công cụ sales</h4>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 offset-lg-1 " style="margin-top: 30px;">
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzMd]="24" [nzXs]="24" [nzLg]="8" nzRequired nzFor="email">Email thương hiệu</nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24" [nzMd]="24" [nzLg]="12">
          <input nz-input formControlName="email" id="email" />
          <nz-form-explain *ngIf="validateForm.get('email')?.dirty && validateForm.get('email')?.errors">
            Email không hợp lệ!
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzMd]="24" [nzXs]="24" [nzLg]="8" nzRequired nzFor="name_card">Name Card
        </nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24" [nzMd]="24" [nzLg]="12">
          <input nz-input  formControlName="name_card" id="name_card" />
          <nz-form-explain *ngIf="validateForm.get('name_card')?.dirty && validateForm.get('name_card')?.errors">
            Name Card không được để trống
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8  offset-lg-1">
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzMd]="24" [nzXs]="24" [nzLg]="8" nzRequired nzFor="landding_page">
          Landing Page
        </nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24" [nzMd]="24" [nzLg]="12">
          <input nz-input  formControlName="landding_page" id="landding_page" />
          <nz-form-explain *ngIf="validateForm.get('landding_page')?.dirty && validateForm.get('landding_page')?.errors">
            Page không được để trống
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzMd]="24" [nzXs]="24" [nzLg]="8"  nzFor="note">Ghi chú
        </nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24" [nzMd]="24" [nzLg]="12">
          <textarea formControlName="note" nz-input rows="2" placeholder="Ghi chú"></textarea>
        </nz-form-control>
      </nz-form-item>

      <div nz-row>
        <div nz-col [nzSm]="24" [nzMd]="24" [nzXs]="24" [nzLg]="8">
        </div>
        <div nz-col [nzSm]="24" [nzXs]="24" [nzMd]="24" [nzLg]="12">
          <div>
            <button nz-button nzType="primary" >Đăng ký</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>