<div nz-row class="mgbt20">
  <div class="row">

    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
      <h4>Lịch sử đóng lãi</h4>
    </div>
  </div>
</div>
<div class="box box-success">
  <!-- <div class="box-header">
    <form nz-form [nzLayout]="'inline'" [formGroup]="filterForm" (ngSubmit)="filterData()">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="date">
            <nz-range-picker formControlName="date"></nz-range-picker>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="key">
            <input nz-input type="text" formControlName="find" placeholder="Từ khóa" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-select style="width: 200px;" formControlName="active" nzPlaceHolder="Trạng thái">
            <nz-option *ngFor="let item of lsStatus" nzValue="{{item.id}}" nzLabel="{{item.name}}"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button (click)="filterData()" nzType="primary">Hiển thị</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div> -->
  <div class="box-body">

    <div class="table-responsive">
      <nz-table nzBordered #ajaxTable nzShowSizeChanger
        nzFooter="Hiển thị {{ (pageSize > listOfData.length) ? listOfData.length : pageSize  }} trên tổng số {{ total}}"
        [nzFrontPagination]="false" [nzData]="listOfData" [nzLoading]="loading" [nzTotal]="total"
        [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="panigate()"
        (nzPageSizeChange)="panigate()">
        <thead>
          <tr>
            <th width="3%" style="min-width: 50px;" class="text-center">STT</th>
            <th width="10%" style="min-width: 100px;" class="text-center">
              Ngày tạo
            </th>
            <th width="10%" style="min-width: 100px;" class="text-center">
              Ngày đóng lãi
            </th>
            <th width="15%" style="min-width: 150px;" class="text-center">
              Khách hàng
            </th>
            <th width="15%" style="min-width: 100px;" class="text-center">
              Điện thoại
            </th>
            <th width="15%" style="min-width: 150px;" class="text-center">
              Số tiền vay
            </th>
            <th width="15%" style="min-width: 100px;" class="text-center">
              Tiền đóng lãi
            </th>
            <th width="10%" style="min-width: 100px;" class="text-center">
              Chia lãi
            </th>
            <th width="10%" style="min-width: 50px;" class="text-center">
              Công cụ
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of ajaxTable.data;let i = index">
            <td class="text-center">{{ i + 1 + ((pageIndex -1) * pageSize) }}</td>
            <td class="text-center">{{ formatDate(data.pay_date_created,'DD/MM/YYYY HH:mm') }}</td>
            <td class="text-center">{{ data.pay_date }}</td>
            <td>{{ data.name }}</td>
            <td class="text-center">{{ data.phone }}</td>
            <td class="text-right">{{ formatCurrency(data.loan_price) }} đ</td>
            <td class="text-right">{{ formatCurrency(data.pay_price) }} đ</td>
            <td class="text-center">
              <span *ngIf="data.is_sharemoney ==1" class="badge badge-success">Đã chia</span>
              <span *ngIf="data.is_sharemoney ==0" class="badge badge-primary">Vừa tạo</span>
            </td>
            <td class="text-center">
              <i nz-icon nzType="eye" (click)="addRate(data)" nz-tooltip nzTitle="Chi tiết" nzTheme="outline"
                class="text-primary iconAction"></i>

              <i *ngIf="data.is_sharemoney ==0" nz-icon nzType="share-alt" (click)="addRate(data)" nz-tooltip nzTitle="Chia lãi" nzTheme="outline"
                class="text-warning iconAction"></i>

              <i *ngIf="data.is_sharemoney ==1" nz-icon nzType="delete" (click)="confirmDeleteRate(data)" nz-tooltip nzTitle="Xóa chia lãi"
                nzTheme="outline" class="text-danger iconAction"></i>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

<app-user-rate *ngIf="isVisibleRate" [dataEdit]="dataEdit" [isVisible]="isVisibleRate"
  (closeModal)="closeModalRate($event)">
</app-user-rate>