<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()" nzWidth="60%">
  <ng-template #modalTitle>
    Lịch sử góp vốn
  </ng-template>
  <ng-template #modalContent>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <div *ngIf="capital && capital.data"  class="table-responsive tableFixHead">
        <nz-table #fixedTable [nzData]="capital.data" [nzFrontPagination]="false" [nzShowPagination]="false">
          <thead>
            <tr>
              <th class="text-center">STT</th>
              <th class="text-center">ID</th>
              <th>Người vay</th>
              <th class="text-center">Loại vay</th>
              <th class="text-center">Số tiền vay</th>
              <th class="text-center">Số tiền góp</th>
              <th class="text-center">Thời gian</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of fixedTable.data;let i= index;" >
              <td class="text-center"> {{i+1}} </td>
              <td class="text-center"> {{data.id}} </td>
              <td> {{data.customer_name}}
                <span nz-tooltip ="Đã trả" class="float-right" style="cursor: pointer;">
                  <i *ngIf="data.is_refund"  nz-icon nzType="check-circle" class="text-success" nzTheme="outline"></i>
                </span>
                <span nz-tooltip nzTitle="Chưa trả" class="float-right" style="cursor: pointer;">
                  <i *ngIf="!data.is_refund" nz-icon nzType="issues-close" class="text-danger" nzTheme="outline"></i>
                </span>
              </td>
              <td class="text-center">{{data.loan_type_name}}</td>
              <td class="text-right"> {{data.loan_price | number}} đ</td>
              <td class="text-right"> {{data.capital | number}} đ</td>
              <td class="text-center">{{data.loan_date_start}} - {{data.loan_date_end}}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>

  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Đóng</button>
    <button *ngIf="dataEdit.is_sharemoney ==0" nz-button nzType="primary" (click)="shareRate(true)">Xác nhận chia
      lãi</button>
  </ng-template>
</nz-modal>